* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
  background-color: #21232a;
}

input {
  font-size: 1.2rem;
  width: 100%;
  background-color: #21232a;
  color: white;
  border: 2px solid white;
  border-radius: 2px;
}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-card h2 {
  font-size: 2rem;
  color: white;
}

.category {
  color: white;
  font-size: 2rem;
  width: 99%;
  text-align: center;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #21232a;
}

.card p {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.card img {
  max-height: 170px;
  width: 400px;
}
